<html>

<head>
    <link href="bootstrap.css" rel="stylesheet" />
    <link href="OverallStyle.css" rel="stylesheet" />
</head>

<body>
    <div id="app">

        <div class="top row georgia">
            <div class="col-md-12">
                <p class="one Calibri">Unit</p>
                <hr>
                <p class="two Calibri">Converter</p>
            </div>
        </div>
        <div class="top row georgia">
            <div class="col-md-2 ">
                <button v-on:click="link1" class="but peach">Cm to In</button>
            </div>
            <div class="col-md-2 ">
                <button v-on:click="link2" class="but peach">W to Hp</button>
            </div>
            <div class="col-md-2 ">
                <button v-on:click="link3" class="but peach">L to Gal</button>
            </div>
            <div class="col-md-2 ">
                <button v-on:click="link4" class="but peach">Mi to Km</button>
            </div>
            <div class="col-md-2 ">
                <button v-on:click="link5" class="but peach">$ to £</button>
            </div>
            <div class="col-md-2 ">
                <button v-on:click="link6" class="but peach">F° to C°</button>
            </div>
        </div>

        <div class="row bottom">
            <div class="col-md-5">
                <p class="units peach Georgia">Centimeters:</p>
                <input v-model="inputCm" v-on:input="CmToIn" class="inputs peach Calibri" />
            </div>
            <div class="col-md-2 sign peach Georgia">≈</div>
            <div class="col-md-5">
                <p class="units peach Georgia">Inches:</p>
                <input v-model="inputIn" v-on:input="InToCm" class="inputs peach Calibri" />

            </div>
        </div>
    </div>
</body>

</html>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            link1: "",
            link2: "",
            link3: "",
            link4: "",
            link5: "",
            link6: "",
            inputCm: 0.0,
            inputIn: 0.0,
            value1: 0.0,
            value2: 0.0
        },
        methods: {
            CmToIn: function () {
                this.value1 = (parseFloat(this.inputCm) / 2.54);
                this.inputIn = Math.round(100 * this.value1) / 100;
                if (isNaN(this.inputIn)) {
                    this.inputCm = "";
                    this.inputIn = "";
                }

            },
            InToCm: function () {
                this.value2 = (parseFloat(this.inputIn) * 2.54);
                this.inputCm = Math.round(100 * this.value2) / 100;
                if (isNaN(this.inputCm)) {
                    this.inputCm = "";
                    this.inputIn = "";
                }
            }
        }
    })
</script>