<html>
<head>
    <link href="bootstrap.css" rel="stylesheet" />
    <link href="OverallStyle.css" rel="stylesheet" />
</head>

<body>
    <div id="app">

        <div class="top row georgia">
            <div class="col-md-12">
                <p class="one Calibri">Unit</p>
                <hr>
                <p class="two Calibri">Converter</p>
            </div>
        </div>
        <div class="top row georgia">
            <div class="col-md-2 ">
                <a href="CmtoIn.html" class="btn btn-secondary">Cm to M</a>
            </div>
            <div class="col-md-2 ">
                <a href="DollarsPounds.html" class="btn btn-secondary">Dollars to Pounds</a>
            </div>
            <div class="col-md-2 ">
                <a href="WattsHorsepower.html" class="btn btn-secondary">Watts to HP</a>
            </div>
            <div class="col-md-2 ">
                <a href="MilesKm.html" class="btn btn-secondary">Miles to Km</a>
            </div>
            <div class="col-md-2 ">
                <a href="FtoC.html" class="btn btn-secondary">F to C</a>
            </div>
            <div class="col-md-2 ">
                <a href="CmtoIn.html" class="btn btn-secondary">Gallons to Litres</a>
            </div>
        </div>

        <div class="row bottom">
            <div class="col-md-5">
                <p class="units peach Georgia">Fahrenheit:</p>
                <input v-model="inputF" v-on:input="FtoC" value="Degrees" class="inputs peach Calibri" />
            </div>
            <div class="col-md-2 sign peach Georgia">≈</div>
            <div class="col-md-5">
                <p class="units peach Georgia">Celsius:</p>
                <input v-model="inputC" v-on:input="CtoF" value="Degrees" class="inputs peach Calibri" />

            </div>
        </div>
    </div>
</body>

</html>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            inputF: 0,
            inputC: 0
        },
        methods: {
            FtoC: function () {
                this.inputC = (this.inputF - 32) * 0.5556;
            },
            CtoF: function () {
                this.inputF = (this.inputC * 1.8) + 32;
            }
        }
    })
</script>