<!DOCTYPE html>
<html>
<head>
    <link href="bootstrap.css" rel="stylesheet">
    <link href="OverallStyle.css" rel="stylesheet">
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="app">
        <input v-model="inputF" v-on:input="FtoC">
        <input v-model="inputC" v-on:input="CtoF">
        <p>Fahrenheit = {{ inputF }}</p>
        <p>Celsius = {{ inputC }}</p>
    </div>
</body>
</html>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            inputF: 0,
            inputC: 0
        },
        methods: {
            FtoC: function () {
                this.inputC = (this.inputF - 32) * 0.5556;
            },
            CtoF: function () {
                this.inputF = (this.inputC * 1.8) + 32;
            }
        }
    })
</script>